# Environment variables
.env
docker/.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
data/batch/
data/events/
# Virtual environment
venv/
env/

# Logs
*.logdata/batch/
data/events/
